[Desktop Entry]
Name=Beru
Comment=The Basic Epub Reader for Ubuntu
Exec=./beru $@
Icon=./ui/images/beru-color.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
