---
layout: default
---
<h3 class="posttitle">{{ page.title }}</h3>
<h4>{{ page.date | date_to_long_string }}</h4>

<hr>

<section id="main_content">
{{ content }}
</section>

<nav>
    <a href="{{ site.baseurl }}/archive.html">Devlog Archive</a>
    {% if page.previous.url %}
    <a href="{{ site.baseurl }}{{ page.previous.url }}" class="previous">« Previous</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ site.baseurl }}{{ page.next.url }}" class="next">Next »</a>
    {% endif %}
</nav>
